<html lang="he" dir="rtl">

    <head>
        <title>{{ .Site.Title }}</title>

        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ $icon := resources.Get "images/pension-logo.ico" }}
        <link rel="icon" type="image/x-icon" href="{{$icon}}">
        {{ partial "fonts" }}
        {{ partial "ga" }}

        {{ $logo := resources.Get "images/pension-logo.png" }}
        {{ partial "og" (dict "title" .Site.Title "image" $logo.Permalink "type" "website" "description" "פנסיה פתוחה" ) }}
    </head>

    <body>
        {{ partial "navigation.html" (dict "image" $logo.Permalink ) }}

        {{ $money_background := resources.Get "images/money-background.png" }}
        {{ $tools_background := resources.Get "images/tools-background.png" }}
        {{ $sheet_image := resources.Get "images/first-sheet.png" }}
        {{ $article_image := resources.Get "images/article.png" }}
        {{ $articles_image := resources.Get "images/articles.png" }}

        {{ partial "front-page/home.html" (dict "money" $money_background.Permalink "tools" $tools_background.Permalink "sheetImage" $sheet_image.Permalink "articleImage" $article_image.Permalink "articles" $articles_image.Permalink) }}

        {{ partial "footer.html" }}

        {{ $sheets_switcher := resources.Get "js/SheetSwitch.js" | resources.Minify | resources.Fingerprint }}
        <script src="{{ $sheets_switcher.Permalink }}"></script>
    </body>

</html>
