#homepage-header {
    text-align: center;
    background: #eeeeee;
    border-bottom: 6px solid #3b70bf;

    .jumbotron {
        padding: 1.5em 2em;
        padding-top: 2.5em;
        padding-bottom: 0.5em;
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;

        .row {
            padding: 0;
            margin: 0;

            .col-12 {
                padding: 0;
            }

            .nav-tabs {
                margin: 0 auto;

                li {
                    color: #666;
                    font-size: 1.3125em;
                    width: 220px;
                    text-align: center;
                    border-radius: 0;
                    border: none;

                    &.selected {
                        margin-top: -6px;

                        a {
                            background-color: #3b70bf;
                            color: #fff;
                            border-bottom: none;
                            border-color: #3b70bf;
                            padding: .5em 1em 9px;
                            border-radius: .2em .2em 0 0;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#homepage-content {
    padding-top: 24px;
    text-align: center;

    #homepage-links {
        font-size: 1.3125em;
        line-height: 24px;
    }
}
