$orange1: #f7b75e;
$blue1: #6acff1;
$blue2: #0090c1;

@mixin machineFont {
  font-family: 'Poiret One', cursive;
}

body {
    background: white;
    font-size: 16px;
    direction: rtl;
    text-align: right;
    font-family: 'Alef', sans-serif;
}

.navbar {
    padding: 0;
    margin: 0;
    background-color: #3b70bf;
    border: none!important;
    color: white;

    background-image: -webkit-linear-gradient(top,#5f8bce 0%,#3b70bf 100%);
    background-image: -o-linear-gradient(top,#5f8bce 0%,#3b70bf 100%);
    background-image: linear-gradient(to bottom,#5f8bce 0%,#3b70bf 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f8bce',endColorstr='#ff3b70bf',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);

    a {
        color: white;
    }

    .navbar-brand {
        font-family: Alef;
        font-weight: 700;
        font-size: 1.5em;
        line-height: 48px;
    }

    ul.list-inline {
        .about-link {
            margin-top: 0.35em;
            margin-left: 1em;
        }

        .btn {
            border: white solid 1px;

            &:hover {
                color: white;
            }
        }
    }


    img {
        height: 28px;
        width: auto;
        margin-left: .375em;
        vertical-align: middle;
        display: inline-block
    }
}
