$orange1: #f7b75e;
$blue1: #6acff1;
$blue2: #0090c1;

@mixin machineFont {
  font-family: 'Poiret One', cursive;
}

body {
    background: white;
    font-size: 16px;
    direction: rtl;
    text-align: right;
    font-family: 'Alef', sans-serif;
}

@import "header";
@import "description";
@import "footer";

