@import "_variables";

body {
    font-size: 16px;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

header {

    .wrapper {
        background: $header-bg;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: $default-padding;
        color: $header-color;
        display: flex;
        align-items: center;

        .site-tittle {
            font-size: 2em;
        }
    }
}

nav {
   .wrapper {
       display: flex;
       justify-content: center;
       padding-top: 1em;
       box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

       ul {
           li {
               display: inline-block;
               color: $navigation-color;
               font-weight: bold;
               font-size: 1.5em;
               padding-right: 1.5em;
               padding-left: 1.5em;
           }
       }
   }
}
