{{ $articles_image := resources.Get "images/articles.png" }}

<section class="articles" style="background-image:url({{$articles_image.Permalink}})">
    <a id="articles"></a>
    <div class="text">
        <p class="medium">כתבות</p>
        <h2>הדוחות המעמיקים בתחום</h2>
        <p class="big">
            מידע שמאפשר לעיתונאים ואקטיביסטים לספר את הסיפור המלא
        </p>

        <div class="grid-display">

            {{ range .Site.Data.articles }}
            {{ $article_image := resources.Get (printf "%s" .image) }}
            {{ $article_image := $article_image.Fit "800X800" }}
                <div>
                    <h3 class="title"><a href="{{ .url }}" target="_blank">{{ .title }}</a></h3>
                    <p class="sub-title">{{ .repoter }}, {{ .date }}</p>

                    <img src="{{$article_image.Permalink}}" alt="דוח ראשון" class="bordered" />
                </div>
            {{ end }}
        </div>
    </div>

</section>
