<section class="money" style="background-image:url({{.money}})">

    <div class="text">
        <h2>₪1,820,394,620,920.00</h2>
        <p class="big">
            מנוהלים כיום בקרנות הפנסיה וקופות הגמל בישראל
        </p>
        <p class="big">
            זה הכסף של כולנו
        </p>
    </div>

</section>

<section class="tools" style="background-image:url({{.tools}})">

    <div class="text">
        <p class="medium">הכלים שלנו</p>
        <h2>מודיעין פיננסי בקוד פתוח</h2>
        <p class="big">
            מסד נתונים בלעדי ופתוח לציבור ומרכז את כל נתוני שוק הפנסיה
        </p>

        <div class="grid-display">
            <div>
                <h3 class="title">כותרת דוח</h3>

                <img src="{{.sheetImage}}" alt="דוח ראשון" />
            </div>

            <div>
                <h3 class="title">כותרת דוח</h3>

                <img src="{{.sheetImage}}" alt="דוח ראשון" />
            </div>

            <div>
                <h3 class="title">כותרת דוח</h3>

                <img src="{{.sheetImage}}" alt="דוח ראשון" />
            </div>
        </div>
    </div>
</section>

<section class="articles" style="background-image:url({{.articles}})">

    <div class="text">
        <p class="medium">כתבות</p>
        <h2>הדוחות המעמיקים בתחום</h2>
        <p class="big">
            מידע שמאפשר לעיתונאים ואקטיביסטים לספר את הסיפור המלא
        </p>

        <div class="grid-display">
            <div>
                <h3 class="title">כותרת כתבה</h3>
                <p class="sub-title">שאול אמסטרדמסקי, 16 מרץ 2020</p>

                <img src="{{.articleImage}}" alt="דוח ראשון" class="bordered" />
            </div>

            <div>
                <h3 class="title">כותרת כתבה</h3>
                <p class="sub-title">שאול אמסטרדמסקי, 16 מרץ 2020</p>

                <img src="{{.articleImage}}" alt="דוח ראשון" class="bordered" />
            </div>

            <div>
                <h3 class="title">כותרת כתבה</h3>
                <p class="sub-title">שאול אמסטרדמסקי, 16 מרץ 2020</p>

                <img src="{{.articleImage}}" alt="דוח ראשון" class="bordered" />
            </div>
        </div>
    </div>

</section>

<section class="about-us" style="background-image:url({{.aboutus}})">

    <div class="text">
        <p class="medium">מי אנחנו</p>
        <h2>אנשים ממש כמוכם</h2>
        <p class="big">מתנדבי הסדנה לידע ציבורי</p>

        <p class="quarter-text">
            כספי הפנסיה של הציבור עומדים על כטריליון ש”ח, המנוהלים על ידי מספר קטן של גופים מוסדיים.
            למרות הרגולציה שמחייבת פרסום דו”חות רבעוניים המפרטים את אופן השקעת הכספים (דוח הנכס הבודד),
            האופן בו מנוהלים סכומים אדירים אלו אינו שקוף ואינו ברור לרובנו.
        </p>
        <p class="quarter-text">
            באתר פנסיה פתוחה תוכלו לראות איפה משקיעות קופות הפנסיה והגמל את הכסף שלכם.
            באתר ניתן לשלוף מידע על הקצאת הנכסים של הקופות, להשוות ביניהן ולנתח את הנתונים על ציר זמן.
        </p>
    </div>

    <div class="contact-us">
        <button>צור קשר</button>
    </div>

</section>
