<section class="money" style="background-image:url({{.money}})">

    <div class="text">
        <h2>₪1,820,394,620,920.00</h2>
        <p class="big">
            מנוהלים כיום בקרנות הפנסיה וקופות הגמל בישראל.
        </p>
        <p class="big">
            זה הכסף של כולנו
        </p>
    </div>

</section>

<section class="tools" style="background-image:url({{.tools}})">

    <div class="text">
        <p class="medium">הכלים שלנו</p>
        <h2>מודיעין פיננסי בקוד פתוח</h2>
        <p class="big">
            מסד נתונים בלעדי ופתוח לציבור ומרכז את כל נתוני שוק הפנסיה
        </p>

        <div class="sheet-gird">
            <div class="sheet-block">
                <h3 class="title">כותרת דוח</h3>

                <img src="{{.sheetImage}}" alt="דוח ראשון" class="sheet-image" />
            </div>

            <div class="sheet-block">
                <h3 class="title">כותרת דוח</h3>

                <img src="{{.sheetImage}}" alt="דוח ראשון" class="sheet-image" />
            </div>

            <div class="sheet-block">
                <h3 class="title">כותרת דוח</h3>

                <img src="{{.sheetImage}}" alt="דוח ראשון" class="sheet-image" />
            </div>
        </div>
    </div>

</section>
