{{ $tools_background := resources.Get "images/tools-background.png" }}

<section class="tools" style="background-image:url({{$tools_background.Permalink}})">
    <a id="tools"></a>
    <div class="text">
        <p class="medium">הכלים שלנו</p>
        <h2>מודיעין פיננסי בקוד פתוח</h2>
        <p class="big">
            מסד נתונים בלעדי ופתוח לציבור ומרכז את כל נתוני שוק הפנסיה
        </p>

        <div class="grid-display">

            {{ range where .Pages "Params.type" "sheets" }}
            {{ $sheet_image := resources.Get (printf "%s" .Params.image) }}
                <div>
                    <h3 class="title"><a href="{{.Permalink}}">{{ .Params.Title }}</a></h3>

                    <img src="{{$sheet_image.Permalink}}" alt="דוח ראשון" />
                </div>
            {{end}}

        </div>
    </div>
</section>
