<html lang="he" dir="rtl">

    <head>
        <title>{{ .Site.Title }}</title>
        {{ $bootstrap := resources.Get "sass/bootstrap.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $bootstrap.Permalink }}">

        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.Permalink }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Alef:400,700&display=swap&subset=hebrew" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="/images/pension-logo.ico">
        {{ partial "fonts" }}
        {{ partial "ga" }}

        {{ $logo := resources.Get "images/pension-logo.png" }}
        {{ partial "og" (dict "title" .Site.Title "image" $logo.Permalink "type" "website" "description" "פנסיה פתוחה" ) }}
    </head>

    <body>
        {{ partial "front-page/navigation.html" }}
        {{ partial "front-page/article.html" (dict "sheets" .Site.Data.sheets) }}
        {{ partial "front-page/footer.html" }}

        {{ $sheets_switcher := resources.Get "js/SheetSwitch.js" | resources.Minify | resources.Fingerprint }}
        <script src="{{ $sheets_switcher.Permalink }}"></script>
    </body>

</html>
