<article id="content">
    <div>
        <div id="homepage-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="jumbotron">

                            <p style="font-size: 1.25em;">
                                פנסיה פתוחה, מבית הסדנא לידע ציבורי, מפתחת כלי FININT (Financial Intelligence)
                                מבוססי Power BI
                                לניתוח תיקי ההשקעות באפיקי החיסכון לטווח בינוני ארוך (פנסיה, גמל, ביטוח מנהלים).
                            </p>

                            <p style="font-size: 1.25em;">הכלים באתר זה מונגשים לתועלת הציבור בלבד.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="content-types">
                            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

                                {{range $index, $element := .sheets}}

                                    {{ $class := "nav-item" }}

                                        {{ if eq $index 0}}
                                            {{ $class = "nav-item active" }}
                                        {{ end }}

                                        <li class="{{$class}}">
                                            <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab"
                                               aria-controls="second" aria-selected="false">{{$element.title}}</a>
                                        </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="homepage-content" class="container-fluid">
            <div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content">
                            {{range $index, $element := .sheets}}

                                {{ $class := "tab-pane" }}

                                {{ if eq $index 0}}
                                    {{ $class = "tab-pane active" }}
                                {{ end }}

                                <div class="{{$class}}" id="second" role="tabpanel" aria-labelledby="second-tab">

                                    <iframe width="100%" height="1000" src="{{$element.url}}" frameborder="0" allowfullscreen="true">
                                    </iframe>

                                </div>
                            {{end}}
                        </div>

                        <div id="homepage-links">
                            <p>השימוש באתר באתר זה אינו מהווה ייעוץ/שיווק השקעות ו/או ייעוץ/שיווק פנסיוני ו/או תחליף
                                לייעוץ/שיווק
                                כאמור המתחשב בנתונים ובצרכים המיוחדים של כל אדם.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
