<footer>
    <div>
        <div class="container">
            <div id="footer-text" class="float-right">פנסיה פתוחה היא פרוייקט של <a href="http://www.hasadna.org.il/">הסדנא
                לידע ציבורי</a></div>
            <ul id="footer-links" class="float-left list-inline">
                <li class="list-inline-item"><a href="about.html">אודות</a></li>
                <li class="list-inline-item"><a href="mailto:openpension@googlegroups.com?subject=פידבק על פנסיה פתוחה">שלחו פידבק</a></li>
                <li class="list-inline-item"><a href="privacy.html">מדיניות פרטיות</a></li>
            </ul>
        </div>
    </div>
</footer>
