<navigation id="header">
    <div>
        <nav role="navigation" class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header navbar-right col-3">
                    <a href="/#/" class="navbar-brand">
                        <img src="{{.image}}">
                        <span>פנסיה פתוחה</span>
                    </a>
                </div>
                <ul class="nav list-inline">
                    <li class="list-inline-item about-link" ><a href="about.html" >אודות</a></li>
                    <li class="list-inline-item">
                        <a href="mailto:openpension@googlegroups.com?subject=פידבק על פנסיה פתוחה" class="btn btn-default navbar-btn">שלח פידבק
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</navigation>

