<html lang="he" dir="rtl">

<head>
    <title>{{ .Site.Title }}</title>

    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ $icon := resources.Get "images/pension-logo.ico" }}
    <link rel="icon" type="image/x-icon" href="{{$icon}}">
    {{ partial "fonts" }}
    {{ partial "ga" }}

    {{ $logo := resources.Get "images/pension-logo.png" }}
    {{ partial "og" (dict "title" .Site.Title "image" $logo.Permalink "type" "website" "description" "פנסיה פתוחה" ) }}
</head>

<body>

{{ partial "header.html" (dict "image" $logo.Permalink ) }}
{{ partial "navigation.html" }}

<div class="content {{.Params.class}}">

    <ul class="breadcrumb">
        <li><a href="/">פנסיה פתוחה</a> > {{.Title}}</li>
    </ul>

    <h1>{{ .Title }}</h1>

    <hr />

    {{.Content}}
</div>

{{ partial "footer.html" (dict "class" "bottom") }}
</body>

</html>
